<mat-toolbar color="primary">
  <span class="logo">
    <img src="assets/paking-logo.jpeg" alt="Parking Logo" class="logo-img" />
    Parking Management System
  </span>
  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/manage-parking" routerLinkActive="active"
      >Contact-Us</a
    >
    <a mat-button routerLink="/add-vehicle" routerLinkActive="active"
      >Add Vehicle</a
    >
    <!-- <a mat-button routerLink="/remove-vehicle" routerLinkActive="active"
      >Remove Vehicle</a
    > -->
    <a mat-button routerLink="/view-slots" routerLinkActive="active"
      >View Slots</a
    >
  </nav>
</mat-toolbar>
